<header class="p-3 back border w-100">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/home" class="logo d-flex align-items-center me-auto me-xl-0">
          <img src="assets/img/cleaning-service.png" alt="" class="logo">
          <h1 class="title">ZenClean</h1>
          <span class="text-warning mb-2">.</span>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center ms-auto mb-md-0">
            <li><a class="nav-link active px-2 text-light active" aria-current="page" routerLink="/home">Home</a></li>
          <li><a routerLink="home" class="nav-link px-2 text-light">About</a></li>
          <li><a routerLink="home" class="nav-link px-2 text-light">Services</a></li>
          <li><a routerLink="home" class="nav-link px-2 text-light">Contact</a></li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" routerLink="/login">Login</button>
          <button type="button" class="btn btn-outline-warning" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
  </header>