<div class="back">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
    <div class="col-xl-12 col-xxl-12 d-flex">
      <div class="w-100 p-5 text-center" style="font-size: medium;">
        <h2>Contact Us</h2>
        <div class="p-2">
          <img src="assets/img/mail.png" class="text-bg-light" style="height: 20px; border-radius: 40%;">
          zenclean@gmail.com
        </div>
        <div class="p-2">
          <img src="assets/img/location.png" class="text-bg-light" style="height: 20px; border-radius: 40%;">
          Plot No 1a, R No 206, Siddhivinayak Bldg, Sec 19, Vashi, Navi Mumbai, 7170
        </div>
        <div class="p-2">
          <img src="assets/img/telephone.png" class="text-bg-light" style="height: 20px; border-radius: 40%;">
          918276432
        </div>

      </div>
    </div>
  </footer>
  <div class="col mb-3">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
    </a>
    <p class="text-center p-3">© copyrights 2023 ZenClean, all rights are reserved</p>
  </div>
</div>