<div>
  <div class="column d-flex flex-wrap m-5">
    <div class="container">
      <h1 class="p-3 text-center">Your bookings</h1>
      <table class="table">

        <thead class="table-dark">
          <tr>
            <th scope="col">S.No </th>
            <th scope="col">Date of booking</th>
            <th scope="col">Time Slot</th>
            <th scope="col">Type of Package</th>
            <th scope="col">Provider Details</th>

          </tr>
        </thead>
        <tbody *ngIf="userDetails?.bookings">
          <tr *ngFor="let booking of ubookings, let i = index">
            <td scope="row">{{serial+i}}</td>
            <td>{{booking.date.toString()|slice:0:10}}</td>
            <td>{{booking.timeSlot}}</td>
            <td>{{booking.packageDetails.name}}</td>
            <td><strong>Name: </strong> {{booking.provider.pusername}}
              <br>
              <strong>Gmail id: </strong>
              {{booking.provider.pgmail}}
              <br>
              <strong>Contact number: </strong>
              {{booking.provider.pphoneNo}}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!userDetails?.bookings">
          <tr>
            <td colspan="4">No bookings available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>