<app-header></app-header>
<div class="row d-flex justify-content-center align-items-center h-100 container">
  <div class="col-md-9 col-lg-6 col-xl-6 my-lg-5 py-lg-5">
    <img src="assets/img/plogin.svg" class="img-fluid" alt="Sample image">
  </div>
  <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1 my-lg-5 py-lg-5">
    <div class="login-form">
      <h1 class="text-center">Login as service provider</h1>
      <form #providerloginform="ngForm" (ngSubmit)="loginProvider()">
        <small class="text-danger">{{error}}</small>
        <div class="form-group">
          <label for="gmail" class="mt-3">Gmail</label>
          <input type="email" class="form-control" name="gmail" placeholder="Enter gmail" [(ngModel)]= "provider.pgmail" required pattern="^[a-z0-9]+@gmail\.com$" #gmail="ngModel"
          [class.is-invalid]="gmail.invalid && gmail.touched"/>
          <div *ngIf="gmail.errors && (gmail.invalid && gmail.touched)">
            <small class="text-danger" *ngIf="gmail.errors['required']">Gmail is required field</small>
            <small class="text-danger" *ngIf="gmail.errors['pattern']">Enter the valid gmail</small>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="mt-3">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter password" [(ngModel)]= "provider.ppassword"
          required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched"/>
          <div *ngIf="password.errors && (password.invalid && password.touched)">
            <small class="text-danger" *ngIf="password.errors['required']">Password is required field</small>
            <small class="text-danger" *ngIf="password.errors['pattern']">Enter the valid password</small>
          </div>
        </div>
        <div class="container m-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-warning" [disabled]="providerloginform.form.invalid" style="width: 80%">Login</button>
        </div>
        <div class="container mt-3 d-flex justify-content-center">
          New Service Provider? 
          <a class="text-warning" routerLink="/providerRegister">Register</a>
      </div>
      <div class="container mt-3 d-flex justify-content-center">
        Are You an user?
      <a class="text-warning" routerLink="/login">Here you go</a>
      </div>
      </form>
    </div>
  </div>
</div>
  <app-footer></app-footer>