<div>
    <div class="d-flex flex-wrap" >
          <div class="card mt-5 d-flex justify-content-center align-items-center">
            <h1 class="p-3 text-center text-bg-warning">"Let us take care of the cleaning, so you can focus on what matters most. Our facilities and services are always here for you."</h1>
            <div class="d-flex justify-content-around pt-3 align-items-center" >
                <div class="row">
                    
                    <div class="col-xl-12 col-xxl-12 d-flex">
                        <div class="w-100 p-5" style="font-size: medium;">
                            <strong class="text-center">Properly trained and experienced staff</strong>
                            <br>
                            A good cleaning service employs trained and experienced staff who are knowledgeable in the proper cleaning techniques and equipment.
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            <img class="card-img-top p-3" src="assets/img/userdashboard.jpg" alt="Card image profile" style="height: 50vh; width: 50vw;background-size: cover;">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="d-flex justify-content-around pt-3 align-items-center" >
                
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            <img class="card-img-top p-3" src="assets/img/userdashboard2.jpg" alt="Card image profile" style="height: 50vh; width: 50vw;background-size: cover;">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-xl-12 col-xxl-12 d-flex">
                        <div class="w-100 p-5" style="font-size: medium;">
                            <strong class="text-center">High standard of cleaning</strong>
                            <br>
                            A quality cleaning service will ensure that all areas of the property are cleaned to a high standard.
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around pt-3 align-items-center" >
                <div class="row">
                    
                    <div class="col-xl-12 col-xxl-12 d-flex">
                        <div class="w-100 p-5" style="font-size: medium;">
                            <strong class="text-center">Customized cleaning plan</strong>
                            <br>
                            A professional and quality cleaning services delivers customized cleaning solutions that address each client’s cleaning needs according to their unique requirements.
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            <img class="card-img-top p-3" src="assets/img/userdashboard3.jpg" alt="Card image profile" style="height: 50vh; width: 50vw;background-size: cover;">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div>
                <h1 class="p-3 text-center"><strong>Our security Policies</strong>
                    </h1>
                <img src="assets/img/security.svg" style="height: 50vh; width: 50vw;">
            </div>
            <div class="d-flex justify-content-between pt-3" >
                
                
                <ol>
                    <li><strong>Background checks:</strong> All employees must undergo a thorough background check before being hired, including criminal records and employment history.</li>
                    <li><strong>Confidentiality agreements:</strong> All employees must sign a confidentiality agreement to protect clients' personal and financial information.</li>
                    <li><strong>Employee training:</strong> All employees must be trained in security and safety practices to prevent theft, damage, or injury to both employees and clients.</li>
                    <li><strong>Keys and access:</strong> Clients' keys must be kept safe and secure, and only authorized employees should have access to them.</li>
                    <li><strong>Communication with clients: </strong>
                        Client privacy and security must be maintained at all times, and employees should communicate any concerns or observations immediately to the client or management.</li>
                    <li><strong>Proper equipment and supplies:</strong> Only approved cleaning supplies and equipment should be used, and all equipment must be properly maintained and secured when not in use.</li>
                    <li><strong>Insurance:</strong> The cleaning service must have proper insurance coverage to protect their employees, clients, and property in case of accidents or incidents.</li>
                    <li><strong>Documentation and record keeping:</strong> All client information, employee records, and security incidents should be documented and kept confidential.</li>
                    <li><strong>Policies and procedures: </strong>
                        Security policies and procedures should be clearly outlined and communicated to all employees, and regular training and updates should be provided.
                    </li>
                    <li><strong>Emergency response plan:</strong>
                         The cleaning service should have an emergency response plan in place in case of security breaches or other emergencies.
                    </li>
                    







                </ol>
            </div>
            
          </div>
    </div>
</div>
