<div class="w-100">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="packageCard" class="nav-link link-body-emphasis" routerLink="myprofile">
        My Profile
      </a>
    </li>
    <li>
      <a class="nav-link active" routerLink="userdashboarddisplay" class="nav-link link-body-emphasis " aria-current="page">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="packageCard" class="nav-link link-body-emphasis " aria-current="page">
        Service packages
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="bookings" class="nav-link link-body-emphasis " aria-current="page">
        Bookings
      </a>
    </li>
    <li>
      <a class="nav-link link-body-emphasis" routerLink="rating">
        Rating and reviews
      </a>
    </li>
  </ul>
</div>