<div>
    <div class="d-flex flex-wrap" >
          <div class="card mt-5 d-flex justify-content-center align-items-center">
            <h1 class="p-3 text-center text-bg-warning">"We are so grateful to have you as our cleaning service provider. Your attention to detail and professionalism are unmatched."</h1>
            <div class="d-flex justify-content-around pt-3 align-items-center" >
                <div class="row">
                    
                    <div class="col-xl-12 col-xxl-12 d-flex">
                        <div class="w-100 p-5" style="font-size: medium;">
                            <strong class="text-center">Attention to detail</strong>
                            <br>
                             A cleaning service provider needs to have an eye for detail, ensuring that each inch of the property is cleaned thoroughly.
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            <img class="card-img-top p-3" src="assets/img/providerdashboard.jpg" alt="Card image profile" style="height: 50vh; width: 50vw;background-size: cover;">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="d-flex justify-content-around pt-3 align-items-center" >
                
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            <img class="card-img-top p-3" src="assets/img/providerdashboard2.jpg" alt="Card image profile" style="height: 50vh; width: 50vw;background-size: cover;">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-xl-12 col-xxl-12 d-flex">
                        <div class="w-100 p-5" style="font-size: medium;">
                            <strong class="text-center">Consistency</strong>
                            <br>
                            A high-quality cleaning service provider should aim to provide consistent cleaning services each time, ensuring that the property is always cleaned to the same high standard.
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around pt-3 align-items-center" >
                <div class="row">
                    
                    <div class="col-xl-12 col-xxl-12 d-flex">
                        <div class="w-100 p-5" style="font-size: medium;">
                            <strong class="text-center">Use of the right equipment and products</strong>
                            <br>
                            A good cleaning service provider should use the correct equipment for each task, and safe cleaning products to ensure that the property is cleaned properly and safely.
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-xxl-5 d-flex">
                        <div class="w-100">
                            <img class="card-img-top p-3" src="assets/img/providerdashboard3.png" alt="Card image profile" style="height: 60vh; width: 50vw;background-size: cover;">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div>
                <h1 class="p-3 text-center"><strong>Our security Policies</strong>
                    </h1>
                <img src="assets/img/security.svg" style="height: 50vh; width: 50vw;">
            </div>
            <div class="d-flex justify-content-between pt-3" >
                
                
                <ol>
                    <li><strong>Background checks:</strong>Conduct a thorough background check on all employees before hiring them, including criminal records and employment history.</li>
                    <li><strong>Confidentiality agreements:</strong>All employees must sign a confidentiality agreement to protect clients' personal and financial information.</li>
                    <li><strong>Employee training:</strong>Train employees in security and safety practices to prevent theft, damage or injury to both employees and clients.</li>
                    <li><strong>Access control:</strong>Only authorized employees must have access to clients' keys, and keys must be kept safe and secure.</li>
                    <li><strong>Communication with clients: </strong>Maintain privacy and security of clients at all times, communicate any concerns or observations immediately with the client or management.</li>
                    <li><strong>Proper equipment and supplies:</strong>Use only approved cleaning equipment and supplies, and maintain it properly.</li>
                    <li><strong>Insurance:</strong>Ensure the cleaning service provider has proper insurance coverage to protect their employees, clients, and property in case of accidents or incidents.</li>
                    <li><strong>Documentation and record keeping:</strong>Maintain a record of client information, employee records, and security incidents, and ensure they're kept confidential.</li>
                    <li><strong>Policies and procedures: </strong>Clearly outline security policies and procedures and communicate them with all employees.
                    </li>
                    <li><strong>Emergency response plan:</strong>Develop an emergency response plan in case of security breaches or other emergencies that might arise.
                    </li>
                </ol>
            </div>
          </div>
    </div>
</div>
