<div>
    <div class="row d-flex flex-wrap m-5">


        <div class="card mt-5 d-flex justify-content-around">
            <div class="d-flex justify-content-between pt-3">
                <div>
                    <img class="card-img-top p-3" src="assets/img/myprofile.png" alt="Card image profile"
                        style="height: 20vh; width: 15vw; border-radius: 50%;">
                </div>

                <div class="card-body">
                    <h1>Your Name: {{UserDetails.username}}</h1>
                    <h4>
                        Gmail Id: {{UserDetails.gmail}}
                    </h4>
                    <h4>
                        Address: {{UserDetails.address}}
                    </h4>
                    <h4>
                        Point of Contact: {{UserDetails.phoneNo}}
                    </h4>
                </div>
            </div>

        </div>
    </div>
</div>