<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a routerLink="pmyprofile" class="nav-link link-body-emphasis">
          My Profile
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="providerdashboarddisplay" class="nav-link link-body-emphasis " aria-current="page">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="providerBookings" class="nav-link link-body-emphasis " aria-current="page">
          Bookings
        </a>
      </li>
      <li>
        <a class="nav-link link-body-emphasis" routerLink="prating">
          Rating and reviews
        </a>
      </li>
    </ul>
  </div>