<app-header></app-header>
<div>

  <section class="text-center d-flex align-items-center" style="background-image: url('https://content.jdmagicbox.com/comp/jaipur/p1/0141px141.x141.230116161810.k2p1/catalogue/divyanshi-enterprises-housekeeping-service-pratap-nagar-jaipur-housekeeping-services-b7rzcd6j1b.jpg');
               height: 100vh; width: auto;
               background-repeat: no-repeat;
               background-size: cover;">
    <div class="container text-bg-light" style="opacity: 60%;">
      <h1><strong>Welcome to ZenClean cleaning service</strong> </h1>
      <p class="lead">"We understand that life can get busy, but taking care of yourself and your living space is
        important. Let us help you by providing top-notch cleaning services and facilities."</p>
    </div>
  </section>
</div>
<div>
  <section id="about" class="about d-flex">
    <div class="container d-flex justify-content-between align-items-center gy-5 content">
      <div>
        <div class="content">
          <h3 class="text-md text-center mb-0 my-5">About Us</h3>
          <h2>For a hassle-free cleaning experience</h2>
          <p>We are dedicated to providing a seamless, effortless and stress-free cleaning experience for our customers.
            Our platform connects you with trusted service providers in your local area.
            Our mission is to simplify the cleaning process and help you maintain a clean and healthy home or workplace.
          </p>
        </div>
      </div>
      <div>
        <div>
          <h2 class="text-md text-center mb-0 my-5">How does ZenClean work?</h2>

          <div class="d-flex">
            <div class="media d-flex p-3">
              <div class="media-left">
                <div class="circle-block media-object d-flex align-items-center justify-content-center">
                  <span>1</span>
                </div>
              </div>
              <div class="media-body">
                <h3 class="media-heading typo-h3 font-weight-bold text-blue">Select a date and time.
                </h3>
                <p class="typo-copy text-body mt-3 mb-0">Whether you need a cleaning tomorrow or
                  next month, there's always a cleaner that fits your schedule.</p>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="media d-flex p-3">
              <div class="media-left">
                <div class="circle-block media-object d-flex align-items-center justify-content-center">
                  <span>2</span>
                </div>
              </div>
              <div class="media-body">
                <h3 class="media-heading typo-h3 font-weight-bold text-blue">Customize your cleaning.
                </h3>
                <p class="typo-copy text-body mt-3 mb-0">Before your cleaner arrives, you can specify any specific
                  cleaning requests or areas of focus that are important to you, ensuring that your home is cleaned
                  exactly how you want it.</p>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="media d-flex p-3">
              <div class="media-left">
                <div class="circle-block media-object d-flex align-items-center justify-content-center">
                  <span>3</span>
                </div>
              </div>
              <div class="media-body">
                <h3 class="media-heading typo-h3 font-weight-bold text-blue">Relax!
                </h3>
                <p class="typo-copy text-body mt-3 mb-0">Your cleaner will arrive at the
                  scheduled time and give your home a clean you'll love.</p>
                <div class="book-cleaning mt-3">
                  <a routerLink="login" class="default-btn d-block mx-auto text-light">Book a Cleaning</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>
<app-footer></app-footer>