<app-header></app-header>
<div>

  <section class="text-center d-flex align-items-center" style="background-image: url('https://content.jdmagicbox.com/comp/jaipur/p1/0141px141.x141.230116161810.k2p1/catalogue/divyanshi-enterprises-housekeeping-service-pratap-nagar-jaipur-housekeeping-services-b7rzcd6j1b.jpg');height: 100vh; width: auto;
               background-repeat: no-repeat;
               background-size: cover;">
    <div class="container text-bg-light" style="opacity: 60%;">
      <h1><strong>Welcome to ZenClean cleaning service</strong> </h1>
      <p class="lead">"We understand that life can get busy, but taking care of yourself and your living space is
        important. Let us help you by providing top-notch cleaning services and facilities."</p>
    </div>
  </section>
</div>
<div>
  <section id="about" class="about d-flex">
    <div class="container d-flex justify-content-around align-items-center gy-5 content">
      <div>
        <div class="content">
          <h3 class="text-md text-center mb-0 my-5">About Us</h3>
          <h2>For a hassle-free cleaning experience</h2>
          <p>We are dedicated to providing a seamless, effortless and stress-free cleaning experience for our customers.
            Our platform connects you with trusted service providers in your local area.
            Our mission is to simplify the cleaning process and help you maintain a clean and healthy home or workplace.
          </p>
          <img class="card-img-top p-3" src="https://assets.website-files.com/5cdc7d40d8a73baad727dd8b/5cdc7d40d8a73b646727ddbb_officeherobackground2-p-500.png" alt="Card image profile" style="height: 50vh; width: 50vw;background-size: cover;">
        </div>
      </div>
      <div>
        <div>
          <h2 class="text-md text-center mb-0 my-5">How does ZenClean work?</h2>

          <div class="d-flex">
            <div class="media d-flex p-3">
              <div class="media-left">
                <div class="circle-block media-object d-flex align-items-center justify-content-center">
                  <span>1</span>
                </div>
              </div>
              <div class="media-body">
                <h3 class="media-heading typo-h3 font-weight-bold text-blue">Select a date and time.
                </h3>
                <p class="typo-copy text-body mt-3 mb-0">Whether you need a cleaning tomorrow or
                  next month, there's always a cleaner that fits your schedule.</p>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="media d-flex p-3">
              <div class="media-left">
                <div class="circle-block media-object d-flex align-items-center justify-content-center">
                  <span>2</span>
                </div>
              </div>
              <div class="media-body">
                <h3 class="media-heading typo-h3 font-weight-bold text-blue">Customize your cleaning.
                </h3>
                <p class="typo-copy text-body mt-3 mb-0">Before your cleaner arrives, you can specify any specific
                  cleaning requests or areas of focus that are important to you, ensuring that your home is cleaned
                  exactly how you want it.</p>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="media d-flex p-3">
              <div class="media-left">
                <div class="circle-block media-object d-flex align-items-center justify-content-center">
                  <span>3</span>
                </div>
              </div>
              <div class="media-body">
                <h3 class="media-heading typo-h3 font-weight-bold text-blue">Relax!
                </h3>
                <p class="typo-copy text-body mt-3 mb-0">Your cleaner will arrive at the
                  scheduled time and give your home a clean you'll love.</p>
                <div class="book-cleaning mt-3">
                  <a routerLink="login" class="default-btn d-block mx-auto text-light">Book a Cleaning</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-around pt-3 align-items-center" >
    <div class="row">
        
        <div class="col-xl-12 col-xxl-12 d-flex">
            <div class="w-100 p-5" style="font-size: medium;">
                <strong class="text-center whatwedo"> What we do</strong>
                <br>
                <ul class="p-2">
                  <li>Office cleaning</li>
                  <li>Practice cleaning</li>
                  <li>Industrial cleaning</li>
                  <li>Cleaning for restaurants</li>
                  <li>Event Cleaning</li>
                  <li>Bar Cleaning</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-xxl-5 d-flex">
          <div class="w-100">
              <img class="card-img-top p-3" src="https://assets.website-files.com/5cdc7d40d8a73baad727dd8b/5cdc7d40d8a73b563227ddcf_Home-work1.svg" alt="Card image profile" style="height: 50vh; width: 50vw;background-size: cover;">
              <div class="row">
              </div>
          </div>
      </div>
  </div>
</div>
<div class="d-flex justify-content-around pt-3 align-items-center" >
  
  
<div class="row">
  <div class="col-xl-12 col-xxl-12 d-flex">
      <div class="w-100 p-5" style="font-size: medium;">
          <strong class="text-center whatwedo"> What we do</strong>
          <br>
          <ul class="p-2">
            <li>General cleaning services for homes, offices, shops, and other commercial spaces</li>
            <li>Deep cleaning services for specific areas or equipment</li>
            <li>Carpet cleaning services</li>
            <li>Move-in/move-out cleaning services</li>
            <li>Specialized cleaning services like disinfecting and sanitizing services in times of pandemic</li>
          </ul>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-6 col-xxl-5 d-flex">
      <div class="w-100">
          <img class="card-img-top p-3" src="https://assets.website-files.com/5cdc7d40d8a73baad727dd8b/5cdc7d40d8a73b9e4e27ddc1_Jakup2.svg" alt="Card image profile" style="height: 50vh; width: 50vw;background-size: cover;">
          <div class="row">
          </div>
      </div>
  </div>
</div>
</div>
</div>
<app-footer></app-footer>